<div class="jumbotron text-center">
  <h1>Events promotion start with <br> <span class="eventsboard">EventsBoard</span></h1>


  <h4>Professional, conferences, workshops, training events, seminars, private events, music &amp; concerts, fund
    rasing &amp; donations, free events &amp; and more.</h4>

  <h4>
    <%= link_to "Start Your Event", new_event_path, class: "new start-event" %>
    <%= link_to "Discover Events", events_path, class: "edit discover-event" %>
  </h4>
</div>

<h2 class="text-center tag-line">
  Organizing and promoting events can be very demanding. We help you make it easy with less stress.
</h2>
<hr>